header {
  width: 100%;
  padding: 10px 0px;
}
header .website__logo {
  text-align: center;
}
header .website__logo img {
  width: 40%;
  height: 100%;
}

.website__foot {
  background-color: #242424;
  color: white;
  padding-top: 20px;
  padding-left: 25px;
}
.website__foot--titre {
  font-family: "Shrikhand";
  margin-top: 0px;
}
.website__foot--nav {
  font-size: 13px;
  padding-bottom: 30px;
}
.website__foot--nav .fas {
  margin-right: 15px;
}
.website__foot--nav p {
  margin-bottom: 0px;
  margin-top: 10px;
}
.website__foot--nav a {
  color: white;
  text-decoration: none;
}

.loading_spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(white, #ffb4ea);
  font-size: 60px;
  color: #9356DC;
  animation: disparition 6s linear;
  animation-fill-mode: both;
}

.spinner {
  animation: loadingspinner 1.5s linear infinite;
}

@keyframes loadingspinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.fa-spinner {
  animation: disparition 6s linear;
  animation-fill-mode: both;
}

@keyframes disparition {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.website__menu2--hearticone {
  position: relative;
  font-size: 20px;
  margin-right: 10px;
}
.website__menu2--heart {
  position: absolute;
}
.website__menu2--heart:hover {
  z-index: -1;
  opacity: 0;
}
.website__menu2--heart-plein {
  position: absolute;
  z-index: 1;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: all 500ms ease-in-out;
}
.website__menu2--heart-plein:hover {
  z-index: 1;
  opacity: 1;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0%;
}

.website__entete--form {
  background-color: #e6e6e6;
  align-items: baseline;
  padding: 15px 0px;
  display: flex;
  justify-content: center;
}
.website__entete--ville {
  background-color: transparent;
  border: none;
  margin-left: 15px;
}
.website__entete--icone {
  padding-left: 20px;
}
.website__entete--description {
  background-color: #f3f3f3;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.website__entete--description button {
  color: white;
  padding: 15px 20px;
  box-shadow: 0px 4px 10px gray;
  border-radius: 50px;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
}
.website__entete--description button:hover {
  background: linear-gradient(#FF79DA 20%, #9356DC 100%);
  box-shadow: 10px 10px 10px #a0a0a0;
}

.website__menu1 {
  margin: 40px 10px;
  position: relative;
}
.website__menu1 nav {
  margin: 0px auto;
  width: 90%;
}
.website__menu1 h1 {
  margin-left: 20px;
}
.website__menu1--choix1 {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.website__menu1--choix2 {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.website__menu1--choix3 {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.website__menu1 .fas {
  margin-left: 30px;
  margin-right: 20px;
  color: gray;
}
.website__menu1--item {
  width: 90%;
  border: 0px #f3f3f3 solid;
  background-color: #f3f3f3;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 20px 0px;
  margin-left: 20px;
  box-shadow: 5px 6px 10px #e6e6e6;
  display: flex;
  align-items: baseline;
}
.website__menu1--item:hover {
  background: #eee6f8;
  box-shadow: 10px 10px 10px #e6e6e6;
}
.website__menu1--item p {
  margin: 0px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}
.website__menu1--number {
  font-size: 12px;
  font-weight: bold;
  color: white;
  border: 1px #9356DC solid;
  background-color: #9356DC;
  border-radius: 50%;
  margin-top: 20px;
  padding: 3px 6px;
  position: absolute;
  left: 7%;
}

.website__menu2 {
  background-color: #f3f3f3;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  /*
      &--heart{
          font-size: 25px;
      } */
}
.website__menu2 h1 {
  margin-left: 20px;
}
.website__menu2--cart1 {
  width: 90%;
  margin: 0 auto;
  border: 0px white solid;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 15px;
  position: relative;
}
.website__menu2--cart1 a {
  color: black;
  text-decoration: none;
}
.website__menu2--cart1 img {
  width: 100%;
  height: 170px;
  border-radius: 20px 20px 0% 0%;
  object-fit: cover;
}
.website__menu2--cart1--nouveau {
  width: 20%;
  color: #16a072;
  font-weight: bold;
  font-size: 13px;
  padding: 3px 0px;
  text-align: center;
  background-color: #99E2D0;
  border: 1px #99E2D0 solid;
  position: absolute;
  top: 0%;
  left: 75%;
}
.website__menu2--cart2 {
  width: 90%;
  margin: 0 auto;
  border: 0px white solid;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 15px;
  position: relative;
}
.website__menu2--cart2 a {
  color: black;
  text-decoration: none;
}
.website__menu2--cart2 img {
  width: 100%;
  height: 170px;
  border-radius: 20px 20px 0% 0%;
  object-fit: cover;
}
.website__menu2--cart2--nouveau {
  width: 20%;
  color: #16a072;
  font-weight: bold;
  font-size: 13px;
  padding: 3px 0px;
  text-align: center;
  background-color: #99E2D0;
  border: 1px #99E2D0 solid;
  position: absolute;
  top: 0%;
  left: 75%;
}
.website__menu2--cart3 {
  width: 90%;
  margin: 0 auto;
  border: 0px white solid;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 15px;
}
.website__menu2--cart3 a {
  color: black;
  text-decoration: none;
}
.website__menu2--cart3 img {
  width: 100%;
  height: 170px;
  border-radius: 20px 20px 0% 0%;
  object-fit: cover;
}
.website__menu2--cart4 {
  width: 90%;
  margin: 0 auto;
  border: 0px white solid;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 15px;
}
.website__menu2--cart4 a {
  color: black;
  text-decoration: none;
}
.website__menu2--cart4 img {
  width: 100%;
  height: 170px;
  border-radius: 20px 20px 0% 0%;
  object-fit: cover;
}
.website__menu2--description {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.website__menu2--titre {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0px;
}
.website__menu2--info {
  font-size: 15px;
  margin-top: 5px;
}

@media screen and (min-width: 500px) and (max-width: 767px) {
  .website__menu1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .website__menu1--number {
    left: 11%;
  }
  .website__menu1 nav {
    margin: 0px auto;
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .website__menu1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .website__menu1--number {
    left: 33%;
    padding: 6px 10px;
  }
  .website__menu1--item {
    padding-top: 25px;
    padding-left: 20%;
  }
  .website__menu1 nav {
    margin: 0px auto;
    width: 50%;
  }

  .website__menu2 h1 {
    text-align: center;
    padding-bottom: 20px;
  }
  .website__menu2--carts {
    margin: 20px 20px;
    display: flex;
  }
  .website__menu2--cart1-2 {
    width: 50%;
  }
  .website__menu2--cart3-4 {
    width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
