@import "./partials/variables";

@import "./partials/header";

@import "./partials/footer";

@import "./partials/animations";


body{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}


.website__entete{
    
    &--form{
        background-color: $backround-gray;
        align-items: baseline;
        padding: 15px 0px;
        display: flex;
        justify-content: center;
    }
    
    &--ville{
        background-color: transparent;
        border: none;
        margin-left: 15px;
        
    }

    &--icone{
        
        padding-left: 20px;
    }

    &--description{
        background-color: $backround-gray-light;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
        
    
        button{
            
            color: white;
            padding: 15px 20px;
            //background-color: $color-secondary;
            box-shadow: 0px 4px 10px gray;
            border-radius: 50px;
            border: none;
            background: linear-gradient($color-secondary, $color-primary);    
            
            &:hover{
                background: linear-gradient($color-secondary 20%, $color-primary 100%);
                box-shadow: 10px 10px 10px rgb(160, 160, 160);
            }
        }
        
    }
}



.website__menu1{
    margin: 40px 10px;
    position: relative;

    h1{
        margin-left: 10px;
    }

    &--choix1{
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
    &--choix2{
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
    &--choix3{
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    .fas{
        margin-left: 30px;
        margin-right: 20px;
        color: gray;

    }

    &--item{
        width: 90%;
        border: 0px $backround-gray-light solid;
        background-color: $backround-gray-light;
        border-radius: 20px;
        margin-bottom: 20px;
        padding: 20px 0px;
        margin-left: 20px;
        box-shadow: 5px 6px 10px $backround-gray;
        display: flex;
        align-items: baseline;

        &:hover{
            background: #eee6f8;
            //border: 5px #eee6f8 solid;
            box-shadow: 10px 10px 10px $backround-gray;
        }

        p{
            margin: 0px;
            font-weight: bold;
            font-size: 15px;
            text-align: center;
        }
    }

    &--number{
        font-size: 12px;
        font-weight: bold;
        color: white;
        border: 1px $color-primary solid;
        background-color: $color-primary;
        border-radius: 50%;
        margin-top: 20px;
        padding: 3px 6px;
        position: absolute;
        left: 10px;
        
    }
}

.website__menu2{
    background-color: $backround-gray-light;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;

    h1{
        margin-left: 20px;
    }
    

    &--cart1{
        width: 90%;
        margin: 0 auto;
        border: 0px white solid;
        background-color: white;
        border-radius: 20px;
        margin-bottom: 15px;
        
        a{
            color: black;
            text-decoration: none;
        }

        img{
            width: 100%;
            height: 170px;
            border-radius: 20px 20px 0% 0%;
            object-fit: cover;
            position: relative;
        }

        &--nouveau{
            width: 20%;
            color: #16a072;
            font-weight: bold;
            font-size: 13px;
            padding: 3px 0px;
            text-align: center;
            background-color: $color-tertiary;
            border: 1px $color-tertiary solid;
            position: absolute;
            bottom: -8%;
            left: 69%;
            //top: 0px;
            //left: 250px;
            
        }
    }

    &--cart2{
        width: 90%;
        margin: 0 auto;
        border: 0px white solid;
        background-color: white;
        border-radius: 20px;
        margin-bottom: 15px;

        a{
            color: black;
            text-decoration: none;
        }

        img{
            width: 100%;
            height: 170px;
            border-radius: 20px 20px 0% 0%;
            object-fit: cover;
            position: relative;
        }
        
        &--nouveau{
            width: 20%;
            color: #16a072;
            font-weight: bold;
            font-size: 13px;
            padding: 3px 0px;
            text-align: center;
            background-color: $color-tertiary;
            border: 1px $color-tertiary solid;
            position: absolute;
            bottom: -40%;
            left: 69%;
            //top: 1090px;
            //left: 270px;
            
        }
    }

    &--cart3{
        width: 90%;
        margin: 0 auto;
        border: 0px white solid;
        background-color: white;
        border-radius: 20px;
        margin-bottom: 15px;

        a{
            color: black;
            text-decoration: none;
        }

        img{
            width: 100%;
            height: 170px;
            border-radius: 20px 20px 0% 0%;
            object-fit: cover;
        }
    }
    
    &--cart4{
        width: 90%;
        margin: 0 auto;
        border: 0px white solid;
        background-color: white;
        border-radius: 20px;
        margin-bottom: 15px;

        a{
            color: black;
            text-decoration: none;
        }

        img{
            width: 100%;
            height: 170px;
            border-radius: 20px 20px 0% 0%;
            object-fit: cover;
        }
    }

    &--description{
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        
    }

    &--titre {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0px;
    }

    &--info{
        font-size: 15px;
        margin-top: 5px;
    }

    &--heart{
        font-size: 20px;
    } 

    &--heart:hover{
        background: linear-gradient($color-primary, $color-secondary);
        //background-clip: text;
        color: transparent;
       //-webkit-background-clip: text;
        transition: all 0.8s linear;
        font-weight: 800;
    }

}

