header {
  width: 100%;
  margin-top: 20px;
  padding: 10px 0px;
}
header .website__logo {
  text-align: center;
  position: relative;
}
header .website__logo .fas {
  color: black;
  font-size: 23px;
  position: absolute;
  left: 20px;
}
header .website__logo img {
  width: 45%;
  height: 100%;
}

.website__foot {
  background-color: #242424;
  color: white;
  padding-top: 20px;
  padding-left: 25px;
}
.website__foot--titre {
  font-family: "Shrikhand";
  margin-top: 0px;
}
.website__foot--nav {
  font-size: 13px;
  padding-bottom: 30px;
}
.website__foot--nav .fas {
  margin-right: 15px;
}
.website__foot--nav p {
  margin-bottom: 0px;
  margin-top: 10px;
}
.website__foot--nav a {
  color: white;
  text-decoration: none;
}

.website__menu--titre-restaurant .fa-heart:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  color: transparent;
  transition: all 0.8s linear;
  font-weight: 800;
}

.anim1 {
  animation: effect 1s linear;
  animation-delay: 0.1s;
}

.anim2 {
  animation: effect 1.2s linear;
  animation-delay: 0.2s;
}

.anim3 {
  animation: effect 1.3s linear;
  animation-delay: 0.3s;
}

@keyframes effect {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes circlerotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.circle {
  transition: 0.2s;
  transition-timing-function: ease-out;
}

.circle:hover {
  animation: circlerotate 0.3s linear;
}

/*
.website__menu{
    &--circleanime{
        width: 80px;
        transition: 0.3s;
        transition-timing-function: ease-in;
    }
}*/
body {
  font-family: "Roboto", sans-serif;
  margin: 0%;
}

.website__entete p {
  background-image: url("../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 222px;
  margin-bottom: -6%;
}

.website__menu {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 30px 30px 0px 0px;
  padding-bottom: 40px;
}
.website__menu--titre-restaurant {
  font-family: "Shrikhand";
  font-size: 20px;
  padding: 35px 20px 15px 20px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.website__menu--titre-restaurant h1 {
  margin: 0px;
}
.website__menu--titre-restaurant .far {
  font-size: 30px;
}
.website__menu--titre {
  font-size: 19px;
  padding-bottom: 5px;
  border-bottom: 3px #99E2D0 solid;
  width: 13%;
}
.website__menu--items {
  padding: 0px 10px;
  margin-bottom: 35px;
}
.website__menu--cart {
  border: 0px gray solid;
  background-color: white;
  border-radius: 20px;
  padding: 10px 15px;
  margin-bottom: 15px;
  box-shadow: 5px 5px 5px #e6e6e6;
}
.website__menu--cart p {
  margin: 5px 0px;
}
.website__menu--description {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.website__menu--titre-plat {
  font-size: 18px;
  font-weight: bold;
}
.website__menu--prix {
  font-weight: bold;
}
.website__menu--circleanime {
  text-align: center;
  height: 100%;
  width: 10%;
}
.website__menu--circleanime .circle {
  color: #99E2D0;
  background-color: white;
}
.website__menu--desc-details {
  display: flex;
  justify-content: space-between;
}

.website__commander {
  text-align: center;
}
.website__commander button {
  font-size: 20px;
  color: white;
  border: 0px #FF79DA solid;
  background-color: #FF79DA;
  border-radius: 30px;
  padding: 15px 50px;
  box-shadow: 0px 3px 12px gray;
  background: linear-gradient(#FF79DA, #9356DC);
}
.website__commander button:hover {
  background: linear-gradient(#FF79DA 20%, #9356DC 100%);
  box-shadow: 10px 10px 10px #a0a0a0;
}

/*# sourceMappingURL=style.css.map */
