header {
  width: 100%;
  margin-top: 20px;
  padding: 10px 0px;
}
header .website__logo {
  text-align: center;
  position: relative;
}
header .website__logo .fas {
  color: black;
  font-size: 23px;
  position: absolute;
  left: 20px;
}
header .website__logo img {
  width: 45%;
  height: 100%;
}

.website__foot {
  background-color: #242424;
  color: white;
  padding-top: 20px;
  padding-left: 25px;
}
.website__foot--titre {
  font-family: "Shrikhand";
  margin-top: 0px;
}
.website__foot--nav {
  font-size: 13px;
  padding-bottom: 30px;
}
.website__foot--nav .fas {
  margin-right: 15px;
}
.website__foot--nav p {
  margin-bottom: 0px;
  margin-top: 10px;
}
.website__foot--nav a {
  color: white;
  text-decoration: none;
}

.anim1 {
  animation: effect 1s linear;
  animation-delay: 0.1s;
}

.anim2 {
  animation: effect 1.2s linear;
  animation-delay: 0.2s;
}

.anim3 {
  animation: effect 1.3s linear;
  animation-delay: 0.3s;
}

@keyframes effect {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes circlerotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.circle:hover {
  animation: circlerotate 0.3s linear;
}

.website__menu--cart--validation {
  transition: all 500ms ease-in-out;
  width: min-content;
  position: relative;
  left: 30px;
}
.website__menu--cart--validation:hover {
  transform: translateX(-50px);
}
.website__menu .fa-check-circle {
  transition: all 500ms ease-in-out;
}

.website__menu--hearticone {
  position: relative;
  margin-right: 20px;
  bottom: 20px;
}
.website__menu--heart {
  position: absolute;
}
.website__menu--heart:hover {
  z-index: -1;
  opacity: 0;
}
.website__menu--heart-plein {
  position: absolute;
  z-index: 1;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: all 500ms ease-in-out;
}
.website__menu--heart-plein:hover {
  z-index: 1;
  opacity: 1;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0%;
}

.website__entete p {
  background-image: url("../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 222px;
  margin-bottom: -6%;
}

.website__menu {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 30px 30px 0px 0px;
  padding-bottom: 40px;
}
.website__menu--titre-restaurant {
  font-family: "Shrikhand";
  font-size: 20px;
  padding: 35px 20px 15px 20px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.website__menu--titre-restaurant h1 {
  margin: 0px;
}
.website__menu--titre {
  font-size: 19px;
  padding-bottom: 5px;
  border-bottom: 3px #99E2D0 solid;
  width: 13%;
}
.website__menu--items {
  padding: 0px 10px;
  margin-bottom: 35px;
}
.website__menu--cart {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  overflow: hidden;
}
.website__menu--cart p {
  width: 80%;
  margin: 0px;
}
.website__menu--cart--desc-details {
  width: 70%;
  overflow: hidden;
  background-color: white;
  padding: 15px 0px 15px 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
}
.website__menu--cart--validation {
  width: 20%;
  background-color: white;
  padding: 15px 0px 15px 15px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-self: flex-start;
}
.website__menu--description {
  padding-top: 5px;
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.website__menu--titre-plat {
  font-size: 15px;
  font-weight: bold;
  overflow: hidden;
}
.website__menu--prix {
  width: 100%;
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: flex-end;
  font-weight: bold;
  width: min-content;
  height: auto;
  margin: 0px 25px 20px 0px;
}
.website__menu--circleanime {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  background: #99E2D0;
  height: auto;
  overflow: hidden;
}
.website__menu--circleanime .circle {
  color: white;
  background-color: #99E2D0;
}

.website__commander {
  text-align: center;
}
.website__commander button {
  font-size: 20px;
  color: white;
  border: 0px #FF79DA solid;
  background-color: #FF79DA;
  border-radius: 30px;
  padding: 15px 50px;
  box-shadow: 0px 3px 12px gray;
  background: linear-gradient(#FF79DA, #9356DC);
}
.website__commander button:hover {
  background: linear-gradient(#FF79DA 20%, #9356DC 100%);
  box-shadow: 10px 10px 10px #a0a0a0;
}

/*# sourceMappingURL=style.css.map */
