.website__foot{
    background-color: rgb(36, 36, 36);
    color: white;
    padding-top: 20px;
    padding-left: 25px;
    margin-top: 1265px;

    &--titre{
        font-family: 'Shrikhand';
        margin-top: 0px;
    }

    &--nav{
        font-size: 13px;
        padding-bottom: 30px;
        .fas{
            margin-right: 15px;
        }
        p{
            margin-bottom: 0px;
            margin-top: 10px;
        }
    }
}