
//--- loading spinner

.loading_spinner{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(white, #ffb4ea);          //
    font-size: 60px;
    color: $color-primary;
    animation: disparition 3s linear;                               //
    animation-fill-mode: both;                                      //
}

.spinner{
    animation: loadingspinner 1.5s linear infinite;
}

@keyframes loadingspinner{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
}

.fa-spinner{
    animation: disparition 6s linear ;
    animation-fill-mode: both;
}

@keyframes disparition{
    0%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        z-index: -1;
    }
}


//--- coeur-coloré

.website__menu2{

    &--hearticone{
        position: relative;
        font-size: 20px;
        margin-right: 10px;
    
    }

    &--heart{ 
        position: absolute;
        &:hover{
            z-index: -1; 
            opacity: 0;
            
        }
    }
    
    &--heart-plein{ 
        position: absolute;
        z-index: 1;
        background: linear-gradient($color-primary, $color-secondary);
        -webkit-background-clip: text;                //
        -webkit-text-fill-color: transparent;         //
        opacity: 0;
        transition: all 500ms ease-in-out;            //
        &:hover{
            z-index: 1;
            opacity: 1;

        }
    }

    
}
