
header{
    width: 100%;
    //margin-top: 20px;
    padding: 10px 0px;


    .website__logo{
        text-align: center;
        
        
        img{
            width: 40%;
            height: 100%;
            
        }
    }
    
}

@media screen and (min-width: 500px) and (max-width: 767px) {
    
}


@media screen and (min-width: 768) and (max-width: 991px) {
    
}


@media screen and (min-width: 992px) {
    
}