
header{
    width: 100%;
    //margin-top: 20px;
    padding: 10px 0px;
    position: relative;
    box-shadow: 0 1px 10px 0 #c3c3c3;

    .website__logo{
        text-align: center;
        
        
        img{
            width: 40%;
            height: 100%;
            
        }
    }
    
}
